@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Space Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafaf9;
    color: #44403c;
}

.font-display {
    font-family: "Space Grotesk", sans-serif;
}

code {
    font-family: "Space Mono", monospace;
}
